* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "나눔고딕", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
