@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Noto Sans KR', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

ol,
ul,
li {
    list-style: none;
}

Link {
    text-decoration-line: none;
}
