<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>
<div style="margin:100px;">
    <h1> 우리 여행 가치갈래? 가치 있는 여행을 즐기자 가치갈래에 오신 여러분들 환영합니다~! </h1>
    <br>
    <h2> 아래 코드를 창으로 돌아가 입력해주세요.</h2>
    <div>
        <h2 style="color:skyblue"> 이메일 인증 코드 입니다. </h2>
        <div style="font-size:130%" th:text="${code}"> </div>
    </div>
    <br/>
    <img src="https://img.freepik.com/free-vector/happy-tiny-people-near-huge-welcome-word-flat-illustration_74855-10808.jpg?w=1060&t=st=1673090787~exp=1673091387~hmac=66ba827797d225bd85a6d63193b1a75078602fdbd2e3eaa77e5efe721ea02cb1" width="700px" height="400px" alt="welcome">
    <br>
</div>


</body>
</html>